.footer {
  background-color: #0f172a;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 40px;
  margin-top: 40px;
}

.footer-links {
  display: flex;
  gap: 20px;
}

.footer-links a {
  color: #38bdf8;
  text-decoration: none;
}